{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    // "valid-jsdoc": ["error", {
    //   "requireReturn": true,
    //   "requireReturnType": true,
    //   "requireParamDescription": true,
    //   "requireReturnDescription": true
    // }],
    // "require-jsdoc": ["error", {
    //   "require": {
    //     "FunctionDeclaration": true,
    //     "MethodDefinition": true,
    //     "ClassDeclaration": true
    //   }
    // }],
    "semi": 2,
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": true
      }]
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "app": true,
    "td": true,
    "beforeEach": true,
    "request": true,
    "Joi": true,
    "joiAssert": true
  }
}
